.App {
  text-align: center;
}

body {
  background-color: #ececeb;
  font-size: min(18px, 5vw);
  color: black;
  margin-top: -10px;
}

button.pink {
  background-color: #f7999b; /* pink button background color */
  color: black; /* black text on buttons */
  font-size: 18px;
  border: none;
  border-radius: 5%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: min(18px, 5vw);
}

button.pink:hover {
  background-color: #fbc8c9; /* Lighter pink on hover */
}

button.teal {
  background-color: #b4dbcb; /* pink button background color */
  color: black; /* black text on buttons */
  font-size: 18px;
  border: none;
  border-radius: 5%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: min(18px, 5vw);
}

button.teal:hover {
  background-color: #185683; /* Lighter pink on hover */
}

button.purple {
  background-color: #aa96ac; /* pink button background color */
  color: black; /* black text on buttons */
  font-size: 18px;
  border: none;
  border-radius: 5%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: min(18px, 5vw);
}

button.purple:hover {
  background-color: #dabab9; /* Lighter pink on hover */
}

.piggy {
  width: min(400px, 64vw);
  height: min(400px, 64vw);
}
.piggy-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -170px;
}

.unicorn {
  width: min(400px, 64vw);
  height: min(400px, 64vw);
}
.unicorn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -170px;
}

.dinosaur {
  width: min(400px, 64vw);
  height: min(400px, 64vw);
}
.dinosaur-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -170px;
}

h1 {
  margin-top: 10px;
}

.coin {
  width: min(100px, 18vw);
  height: min(100px, 18vw);
  background-color: #ffd700; /* Gold color for coins */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Dark text on coins */
  margin: 10px;
  transition: all 0.2s ease-in-out;
  animation: none; /* Disable animation by default */
}

.coin-container {
  display: flex;
  justify-content: center; /* Center coins horizontally */
  align-items: center; /* Center coins vertically */
  margin-top: 90px;
}

.deposit {
  background-color: #a1f390; /* Green color when depositing */
  animation: slide-in 1s forwards;
}

.withdraw {
  background-color: #f18d92; /* Red color when withdrawing */
  animation: slide-out 1s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100px);
    opacity: 1; /* Start fully visible */
  }
  80% {
    opacity: 1; /* Keep fully visible for 80% of the animation */
  }
  100% {
    transform: translateY(0);
    opacity: 0; /* End completely transparent */
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0); /* Start from inside the piggy bank */
    opacity: 1; /* Start fully visible */
  }
  80% {
    opacity: 1; /* Keep fully visible for 80% of the animation */
  }
  100% {
    transform: translateY(-100px); /* Slide out of the piggy bank */
    opacity: 0; /* End completely transparent */
  }
}
